.contato{
    h3{
        font-size: 4rem;
        text-transform: uppercase;
        margin: 7rem 0 3rem;
        text-align: center;
    }

    p{
        font-size: 2.5rem;
        color: $contact;
        margin-bottom: 3rem;
        text-align: center;
    }

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__bottom{
        display: flex;
        justify-content: center;

        a{
            width: 3rem;
            height: 3rem;
            border-radius: 1rem;
            border: 1px solid $contact;
            display: flex;
            align-items: center;
            justify-content: center;

            &:not(:last-of-type){
                margin-right: 3rem;
            }

            svg{
                max-width: 2rem;
                height: 2rem;
            }
        }
    }
}

.copyright{
    margin-top: 2rem;
    background-color: $black;

    &__container{
        display: flex;
        flex-direction: column;
    }

    p{
        margin: 2rem 0;
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
        text-transform: uppercase;
        
        strong{
            color: #888888;
            font-weight: 900;

        }
    }
}