$black: #000;
$bg: #111111;
$almost-black: #1d1d1d;
$dark-grey: #292929;
$contact: #b3b3b3;
$white: #fff;
$apple: #e350f1;
$deezer: #f50;
$tunein: #14d8cc;
$youtube: #FF0000;
$castbox: #f25c31;